# Antigravity & AI Agent folders
/.agent
/.gemini

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains unit test and debugging configurations
# for VS Code. It is often ignored, but can be committed if you want
# to share configurations.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Windows, Linux, and macOS ephemeral files
**/*/ephemeral
windows/flutter/ephemeral/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift

# Firebase Secrets
serviceAccountKey.json