rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // TEST MODE: Open for 30 days (Adjust expiration as needed)
    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2026, 4, 30);
    }
  }
}
